
body{
	
  color: #6b6a58;
  
  font-family: Arial, sans-serif;
	
}

.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome-box {
  background: #F5F5DC;
  width: 70%;
  margin: 60px auto;
  padding: 50px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  animation: fadeIn 1s ease-in-out;
}

.main-section {
  text-align: center;
  padding: 50px 20px;
}

.main-section h1 {
  font-size: 2.4rem;
  font-family: times new roman;
  color: #556B2F;
  margin-bottom: 15px;
}

.main-section p {
  color: #444;
  margin-bottom: 30px;
  font-size: 1.1rem;
   font-family: times new roman;

}



.btn {
  padding: 12px 28px;
  background-color: #556B2F;
  color: white;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
  display: inline-block;
  margin: 5px;
  font-family: times new roman;
  font-size: larger;

}

.btn:hover {

   background-color: #6B8E23;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);

}




.form-box {
      background-color: #F5F5DC;
  max-width: 420px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.form-box h2 {
  text-align: center;
  color: #556B2F;
  margin-bottom: 20px;
    font-family: times new roman;
	font-size: 30px;

}

.form-box label {
  font-weight: bold;
  margin-top: 15px;
  display: block;
  color: #333;
  font-family: times new roman;
  font-size: larger ;

}

.form-box input {
  width: 100%;
  padding: 9px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #bbb;
  
}

.form-box small {
  color: gray;
  font-size: 12px;
}



.login-buttons {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.login-buttons button {
  flex: 1;
  padding: 12px;
  background-color: #556B2F;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.login-buttons button:hover {
  background-color: #6B8E23;
  transform: translateY(-2px);
}
